/* * {border: 1px solid red;} */

/* || Page Layout */

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    background-image: url(https://source.unsplash.com/9AqIdzEc9pY);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#glass {
    width: 100vh;
    height: 80vh;
    position: absolute;
    overflow: scroll;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135,  0.37 );
    backdrop-filter: blur( 15px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* || Typography */

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    color: darkgray;
}

h1 {
    font-weight: lighter;
    color: darkgray;
}

h2 {
    font-weight: lighter;
    color: gray;

}

#temp-value {
    font-size: xx-large;
}

/* || Buttons */

/* #temp-controls {
    
} */

/* #current-temp-button {

} */

/* || Footer */

footer {
    font-size: smaller;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}